#file docker compose
#consente di mettere in relazione piu container, in modo che tutti condividano una stessa rete
name: ttt-game-server

#microservizi del sistema
services:
  account-service: #nome del container
    image: ttt-account-service #immagine docker per creare il container
    container_name: account-01 #nome specifico del container (facoltativo)
    networks:
      - ttt_game_server_network  #rete docker a cui il container è collegato
    ports:
      - "9000:9000" #"porta su cui il microservizio è eseguito nel container:porta (della macchina su cui il microservizio è eseguito) per rendere raggiungibile il microservizio da client esterni"
    expose: 
      - 9000 #porta del microservizio visibile agli altri container
  lobby-service:
    image: ttt-lobby-service
    container_name: lobby-01
    networks:
      - ttt_game_server_network
    ports:
      - "9001:9001"
    expose: 
      - 9001
  game-service:
    image: ttt-game-service
    container_name: game-service-01
    networks:
      - ttt_game_server_network
    ports:
      - "9002:9002"
    expose: 
      - 9002
  api-gateway:
    image: ttt-api-gateway
    container_name: api-gateway-01
    networks:
      - ttt_game_server_network
    ports:
      - "8080:8080"
    expose:
      - 8080

#rete condivisa
networks:
  ttt_game_server_network: